# Data Structures

The following are the data types available in python :

- integers    -> int
- floats      -> float
- strings     -> str
- lists       -> list
- dictonaries -> dict
- tuples      -> tupule
- sets        -> set
- Booleans    -> bool

## Integers

In [1]:
# For Addition in python use '+'
2+2

4

In [2]:
# For subtraction in python use '-'
3-2

1

In [3]:
# For multiplication in python use '*'
2*3

6

In [4]:
# For power in python use '**'
2 ** 3

8

In [5]:
# For division in python use '/'
8/5

1.6

#### Modulo operator

to get the remainder use the modulo operator '%'

In [6]:
# to get the remainder use '%'
8 % 5

3

In [7]:
10%2

0

In [8]:
(2+3)*6

30

## Floats

In [9]:
b = 2.3

In [10]:
type(b)

float

Main difference between `int` and `float` is that integers doesn't have a decimal value.

a = 10   --> a is a integer

b = 10.4  --> b is a float as it contains a decimal value

## Variable Assignment

Value is assigned to a variable using `=` operator

### Rules for variable names

#### 1) Names of a variable cannot start with a number. i.e

In [11]:
1variable = 2
# this will throughout an error as the variable name is starting with a number

SyntaxError: invalid syntax (<ipython-input-11-8df247ce8a9d>, line 1)

#### 2) Names of the variable cannot contain spaces, best practice is to use `_` instead

In [ ]:
new variable = 2
# this will through out an error as there is ' ' in the variable name

In [ ]:
new_variable = 2
#this can be resolved using '_' inplace of ' ', 
#which makes it mroe readable and considered as a best practice.

In [ ]:
new_variable

#### 3) Names of the variable cannot contain any of these symbols:

      :'",<>/?|\!@#%^&*~-+

In [ ]:
new?variable = 4
# this will throughout an error the variable name contains '?'

#### 4) It's considered best practice ([PEP8](https://www.python.org/dev/peps/pep-0008/#function-and-variable-names)) that names are lowercase with underscores

In [ ]:
new_variable = 2

#### 5) Avoid using Python built-in keywords like `list` and `str`

#### 6) Avoid using the single characters 
#### `l` (lowercase letter el), 
#### `O` (uppercase letter oh) and 
#### `I` (uppercase letter eye) as they can be confused with `1` and `0`

### Difference between `=` and `==` :

* `=` is used to assign 

example:

In [ ]:
a = 1

In [ ]:
a

* `==` is used to check if two objects are equal

example:

In [12]:
a = 1
b = 1

In [13]:
a == b
#here '==' returns a bool

True

## Strings

A string is nothing but a `list of characters`

In [14]:
a = 'Hello'

In [15]:
type(a)

str

a string can be definie deither way `'...'` or `"..."`

In [16]:
a = '2.8'

In [17]:
b = 'Portland'

In [18]:
c = "I'm"

`\` - escape character is used to put `'` in a string

In [19]:
b

'Portland'

In [20]:
c= 'I\'m'

In [21]:
c

"I'm"

In [22]:
d= 'hello \"'

In [23]:
d

'hello "'

In [24]:
t = r"I'm"

In [25]:
t

"I'm"

In [26]:
a = "Hello"

Strings are immutable

In [27]:
a[0] = 'J'

TypeError: 'str' object does not support item assignment

In [ ]:
a= 'Jello'

In [ ]:
a = 'Hello'

In [ ]:
a[0:2]

In [ ]:
a[0:3]

string[start:stop:step]

In [ ]:
a = 'Hello World'

H e l l o   w o r l d

0 1 2 3 4 5 6 7 8 9 10

In [ ]:
len(a)

In [ ]:
a[0:11:2]

In [ ]:
a[3]

In [ ]:
a[4]

In [ ]:
b =4

In [ ]:
b =5

In [ ]:
a = ''' hello 
    world, 
    how are you??
'''

In [ ]:
a

In [ ]:
a = "Hello \tWorld"

In [ ]:
a

In [ ]:
a = 'Hello World'

In [ ]:
a[len(a)-1]

In [ ]:
a[-1]

H  e  l  l  o     W  o  r   l  d

0 -10 -9 -8 -7 -6 -5 -4 -3 -2 -1

In [ ]:
a[-5]

In [ ]:
a[11]

In [ ]:
'Hello' + ' World'

In [ ]:
'Hello ' * 3

In [ ]:
'hello' == 'Hello'

In [ ]:
a = 'sad'

In [ ]:
type(a)

In [ ]:
a.upper()

In [ ]:
help(a.count)

In [ ]:
a = 'hello World, hello again'

In [ ]:
a.count('hello')

## Lists

* `Lists` are a colelction of different or same data types
* Lists are represented using square brakets `[,,]`

In [ ]:
a = [1,2,3,4,5]

In [ ]:
type(a)

In [ ]:
a[0]

In [ ]:
a= [1,5.6,'Hello']

In [ ]:
a[0]

In [ ]:
a[2]

In [ ]:
a[2] = 'World'

In [ ]:
a

In [ ]:
a[-1]

In [ ]:
a[0:2]

In [ ]:
len(a)

In [ ]:
a.count(1)

In [ ]:
a= [1,2,3]
b= [4,2,3,6]
c = [2,4,5]

In [ ]:

a * 3

In [ ]:
a == b

In [ ]:
a = [1,2,3]

In [ ]:
a = a+[4]

In [ ]:
a

In [ ]:
# to add new elements to the list use '.append()' method
a.append(5)

In [ ]:
a

In [ ]:
a.append(6)

In [ ]:
a.sort()

In [ ]:
a

In [ ]:
a=['World','Hello','Hello Portland']

In [ ]:
a.sort()

In [ ]:
a

In [ ]:
a= [1,2,3]

In [ ]:
a.index(2)

In [ ]:
a.pop()

In [ ]:
a

In [ ]:
a = [1,2,3]

In [ ]:
a.remove(a[1])

In [28]:
a

'Hello'

## Tuples

* `Tuples` are similar to Lists but immutable.
* tuples are are represented using paranthesis `(,,)`

In [29]:
a= (1,2,3)

In [30]:
type(a)

tuple

In [31]:
a[0]

1

In [32]:
a[0:2]

(1, 2)

In [33]:
a.count(2)

1

In [34]:
a.index(2)

1

In [35]:
mystring = 'Hello World Vishnu'

In [36]:
mywords = mystring.split(' ')

In [37]:
mywords

['Hello', 'World', 'Vishnu']

In [38]:
n = []
for my_wish in mywords:
    if 'shn' in my_wish:
      n.append(my_wish)

In [39]:
n

['Vishnu']

## Dictionaries

* `Dictionaries` are a key value pair
* Typical dictonary is represented as `{'key' : 'value'}`
* Usually `key` acts an index for the `value` i.e `dict['key'] = 'value'`

In [40]:
a= {0:'Hello', 1:'a', 'b':'4'}

In [41]:
a['b']

'4'

In [42]:
a= {'portland':'OR', 'Denver':'CO'}

In [43]:
a['portland']

'OR'

In [44]:
a.keys()

dict_keys(['portland', 'Denver'])

In [45]:
a.values()

dict_values(['OR', 'CO'])

In [46]:
help(a.pop)

Help on built-in function pop:

pop(...) method of builtins.dict instance
    D.pop(k[,d]) -> v, remove specified key and return the corresponding value.
    If key is not found, d is returned if given, otherwise KeyError is raised

In [47]:
a.pop('portland')

'OR'

In [48]:
a= {'portland':'CT', 'Denver':'CO', 'portland' : 'OR'}

In [49]:
a['portland'] = 'CT'
a['Denver'] = 'CO'

In [50]:
a= ['CT','OR']

## Sets

* A `set` is a collection of unique objects
* a set is represented using flower brackets `{,,}`

In [51]:
a= {1,6,8,1,2}

In [52]:
a

{1, 2, 6, 8}

In [53]:
b = [1,6,8,1,2]

In [54]:
b

[1, 6, 8, 1, 2]

In [55]:
set(b)

{1, 2, 6, 8}

In [56]:
c = {1,'hello'}

d = {(1,2,3)}

* A set cannot contain a list

In [57]:
a = {[1,2,3]}

TypeError: unhashable type: 'list'

## Boolean

* A `boolean` value can only take two values either `True` or `False`

In [ ]:
True

In [ ]:
False

In [ ]:
type(2 > 4)

## Dynamic typing

Python uses Dynamic typing, which means that a variable can be reassigned with a different data type.

In [ ]:
#lets assign variable 'a' the value '1' 
a = 1

In [ ]:
type(a)

In [ ]:
# we can see that the data type of a is 'int'
# let's try to reassign a to a string
a = 'hello'

In [ ]:
type(a)

as you can see that the same variable `a` is reassigned to a string form int and python didn't through any error. We need to be careful while assigning the variables and always make sure which data type we are using